services:

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker

  config-server1:
    build: ./config-server1
    container_name: config-server1
    ports:
      - "8888:8888"
    depends_on:
      - eureka-server
    environment:
      SPRING_PROFILES_ACTIVE: docker

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "9000:9000"
    depends_on:
      - mongodb
      - eureka-server
      - config-server1
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/authdb

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
      - config-server1
      - eureka-server

  flight-service:
    build: ./flight-service
    container_name: flight-service
    ports:
      - "8091:8091"
    depends_on:
      - mongodb
      - eureka-server

  booking-service1:
    build: ./booking-service1
    container_name: booking-service1
    ports:
      - "8092:8092"
    depends_on:
      - mongodb
      - rabbitmq
      - flight-service

  notification-service1:
    build: ./notification-service1
    container_name: notification-service1
    ports:
      - "8093:8093"
    depends_on:
      - rabbitmq

volumes:
  mongo_data:
